* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size : 10px ;
     10px / 16px = 0.625 = 62.5% 
    */
  font-size: 62.5%;
  overflow-x: hidden;
}
/******! Padding settings ******/
.pyx-4 {
  padding: 1rem;
}
.pyx-5 {
  padding: 2rem;
}
.pyx-6 {
  padding: 3rem;
}
.pyx-7 {
  padding: 4rem;
}
.pyx-8 {
  padding: 5rem;
}

.py-10 {
  padding: 5rem;
}
/******! Margin settings ******/

.mx-auto {
  justify-content: center !important;
}
.mx-7 {
  margin-left: 7rem;
}
.mx-8 {
  margin-left: 8rem;
}
.mx-9 {
  margin-left: 9rem;
}
.mb-6 {
  margin-bottom: 3rem;
}
/******! Line settings ******/

.line {
  display: block;
  width: 25px;
  height: 1.5px;
  background-color: #f62b45;
}

.line-light {
  display: block;
  width: 2.5rem;
  height: 0.15rem;
  border-radius: 25%;
  background-color: #000;
}
/******! Font settings ******/
.title {
  font-family: "Archivo", sans-serif;
  font-size: calc(1.15rem + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
  font-weight: 700;
  letter-spacing: 0.08rem;
}
.text {
  color: #f85c70 !important;
}
.bg-pink-danger {
  background-color: #f62b45;
}
.text-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.05rem;
}
/******! Font settings ******/
.listscroll-1 {
  height: calc(48rem + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  overflow: hidden;
  overflow-y: scroll;
}

.listscroll {
  height: calc(52rem + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  overflow: hidden;
  overflow-y: scroll;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
#modalEl {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 70%;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}
