/* @media only screen and (max-width: 780px) {
  .header-img {
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
    height: 85vh;
    min-height: 60rem;
    min-width: 60rem;
    width: auto; /* Mobilde header'ın genişliğini otomatik belirle 
  }
  .social-link {
    color: #fff !important;
  }
  .nvbr {
    max-width: 60rem;
    max-width: auto; /* Mobilde header'ın genişliğini otomatik belirle 
  }
  .border-end:first-child {
    padding-bottom: 3rem !important;
  }
  .border-end {
    border-right: none !important;
    border-bottom: solid 0.8px;
    margin-bottom: 3rem !important;
  }
  .nvbr ul {
    justify-content: center !important;
  }
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
} */
/* @media only screen and (max-width: 870px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* #Calismalar .mobile {
    padding-left: 11rem;
  /* }  
} */
/* @media only screen and (max-width: 990px) {
  #Iletisim .offset-md {
    padding-top: 3rem !important;
  }
  #Iletisim .row div:first-child {
    width: auto;
  }
  #Iletisim .offset-md {
    padding-top: 3rem !important;
  }
}
@media only screen and (max-width: 625px) {
  body {
    width: 65rem; /* Mobilde header'ın genişliğini otomatik belirle 
  }
}*/
/************************************************************/
/** BELLOW  1200px
/************************************************************/
@media (max-width: 75em) {
  html {
    font-size: 50.5% !important;
  }
  #Iletisim .offset-md {
    padding-top: 2rem !important;
  }
  #Iletisim .row > div {
    width: 70rem;
  }
  #Bilgiler #diller {
    height: 27rem;
  }
  #Bilgiler .text-content {
    font-size: 1.6rem;
  }
  #Hakkimda h1,
  li,
  #Bilgiler h1,
  h3,
  #Calismalar h1,
  #Sertifikalar h1,
  #Iletisim h1,
  #darkMode {
    font-size: 2.8rem !important;
  }
  #Calismalar .cards h3,
  #Bilgiler ul li,
  #Bilgiler h2,
  #Bilgiler h5,
  #Iletisim input,
  #Iletisim li,
  footer ul li,
  footer p {
    font-size: 1.8rem !important;
  }
  #Iletisim label,
  #Iletisim button,
  .social-item {
    font-size: 2rem !important;
  }
  #Bilgiler img,
  #Calismalar img {
    width: 9rem !important;
  }
  #Bilgiler .pyx-6 {
    padding: 2.4rem;
  }
  #Sertifikalar .row div {
    width: 55rem;
  }
  #Sertifikalar #sertifikaImages {
    margin-top: 5rem;
  }
}
/************************************************************/
/** BELLOW  990 px 
/************************************************************/
@media (max-width: 62em) {
  html {
    font-size: 39.5% !important;
  }
  #Navbar .nav-first {
    justify-content: right;
  }
  #Navbar .nav-second {
    justify-content: left;
  }
  #Navbar .col-md {
    padding: 0%;
  }
  #Sertifikalar .row div {
    width: 52rem;
  }
  #Iletisim .row > div {
    width: 65rem;
  }
  #Bilgiler #hobiler {
    margin-bottom: 1rem;
  }
  .header-content {
    position: relative;
    top: 30%;
    left: 10%;
  }
  .social-item {
    font-size: 2.4rem !important;
  }
  #darkMode {
    font-size: 3.4rem !important;
  }
}
/************************************************************/
/** BELLOW  768 px 
/************************************************************/
@media (max-width: 48em) {
  #Navbar .nav-first,
  .nav-second {
    width: 40rem;
  }
  .border-end:first-child {
    padding-bottom: 3rem !important;
  }
  .border-end {
    border-right: none !important;
    border-bottom: solid 0.8px;
    margin-bottom: 3rem !important;
  }
  #Sertifikalar .row div {
    width: 100%;
  }
  #Iletisim .row > div {
    width: 100%;
  }
}
