/************************************************************/
/** BELLOW  1200px
/************************************************************/
@media (max-width: 75em) {
  html {
    font-size: 50.5% !important;
  }
  #Iletisim .offset-md {
    padding-top: 2rem !important;
  }
  #Iletisim .row > div {
    width: 70rem;
  }
  #Bilgiler #diller {
    height: 27rem;
  }
  #Bilgiler .text-content,
  #Calismalar .swiper-wrapper p {
    font-size: 1.6rem;
  }
  #Hakkimda h1,
  li,
  #Bilgiler h1,
  h3,
  #Calismalar h1,
  #Sertifikalar h1,
  #Iletisim h1,
  #darkMode {
    font-size: 2.8rem !important;
  }
  #Calismalar .cards h3,
  #Bilgiler ul li,
  #Bilgiler h2,
  #Bilgiler h5,
  #Iletisim input,
  #Iletisim li,
  footer ul li,
  footer p {
    font-size: 1.8rem !important;
  }
  #Iletisim label,
  #Iletisim button,
  .social-item {
    font-size: 2rem !important;
  }
  #Bilgiler img,
  #Calismalar img {
    width: 9rem !important;
  }
  #Bilgiler .pyx-6 {
    padding: 2.4rem;
  }
  #Sertifikalar .row div {
    width: 55rem;
  }
  #Sertifikalar #sertifikaImages {
    margin-top: 5rem;
  }
}
/************************************************************/
/** BELLOW  990 px 
/************************************************************/
@media (max-width: 62em) {
  html {
    font-size: 39.5% !important;
  }
  #Navbar .nav-first {
    justify-content: right;
  }
  #Navbar .nav-second {
    justify-content: left;
  }
  #Navbar .col-md {
    padding: 0%;
  }
  #Sertifikalar .row div {
    width: 52rem;
  }
  #Iletisim .row > div {
    width: 65rem;
  }
  #Bilgiler #hobiler {
    margin-bottom: 1rem;
  }
  .header-content {
    position: relative;
    top: 20%;
    left: 10%;
  }
  .social-item {
    font-size: 2.4rem !important;
  }
  #darkMode {
    font-size: 3.4rem !important;
  }
}
/************************************************************/
/** BELLOW  768 px 
/************************************************************/
@media (max-width: 48em) {
  #Navbar .nav-first,
  .nav-second {
    width: 40rem;
  }
  .border-end:first-child {
    padding-bottom: 3rem !important;
  }
  .border-end {
    border-right: none !important;
    border-bottom: solid 0.8px;
    margin-bottom: 3rem !important;
  }
  #Sertifikalar .row div {
    width: 100%;
  }
  #Iletisim .row > div {
    width: 100%;
  }
  .btn-mobile-nav {
    display: block;
  }
  #modalEl a {
    font-size: 2rem !important;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/************************************************************/
/** BELLOW  520 px (Phones)
/************************************************************/
@media (max-width: 32.5em) {
  .header-img {
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
  }
  #Calismalar .mobile {
    padding-left: 9rem;
  }
  #Calismalar .mobile .swiper-button-next,
  .swiper-button-prev {
    color: #f62b45 !important;
  }
  .header-title {
    margin-top: 1rem;
    font-size: 4.8rem;
  }
  .header-mono {
    font-size: 1.8rem !important;
  }
  .header-content {
    top: 20%;
    left: 0%;
  }
  .nvbr {
    border-radius: 12px 0px 0px 12px;
    margin-left: auto;
    margin-right: 0;
    width: 8rem;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
