/******! Social icons ******/

.social-icons {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 1rem 0 0 8rem;
  font-size: 1.8rem;
}
.social-item {
  transition: transform 0.7s;
}
.social-item:hover {
  transform: scale(1.2);
}

/******! Header ******/

.header-img {
  height: 90vh;
  min-height: 60rem;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/home-avatar.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6)
    ),
    url(images/home-avatar.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header-content {
  position: absolute;
  margin: 18rem 8rem;
  color: #fff;
  user-select: none;
}

/* (font-size: calc ) Bu CSS özelliği, tarayıcı genişliğine bağlı olarak bir fontun boyutunu dinamik olarak ayarlamak için kullanılır.
calc fonksiyonu içindeki formül, belirli bir tarayıcı genişliği aralığında minimum ve maksimum font boyutları 
arasında lineer bir geçiş sağlar. Bu sayede, web tasarımı responsive (duyarlı) hale getirilebilir,
farklı ekran boyutlarına uygun okunabilirlik ve estetik bir deneyim elde edilebilir. */

.header-subtitle {
  font-weight: 200;
  font-size: calc(16px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}
.header-title {
  font-size: calc(20px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  opacity: 0.8;
  line-height: 0.7;
  margin-bottom: 2.5rem;
}
.header-mono {
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.5rem;
}

/******! Navbar ******/

.nvbr {
  font-size: 1.8rem;
  box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
}

.nvbr ul li a {
  font-size: 2.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  text-decoration: none;
  transition: all 0.6s ease-in-out !important;
}
.nvbr ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 2rem;
  color: #f62b45 !important;
}

.nvbr img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -weblit-transform: translate(-50%, -50%);
  width: 17rem;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/******! Certificates ******/

.listscroll {
  height: calc(52rem + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  overflow: hidden;
  overflow-y: scroll;
}

/******! Projects ******/
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
}
.cards {
  cursor: pointer;
}
.cards .card-size {
  width: 30rem;
  height: 20rem;
  transition: 0.8s;
}
.cards .card-top {
  position: relative;
  background: #f62b45;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(10rem);
}

.cards:hover .card-top {
  background: #666565;
  transform: translateY(0);
}
.cards .card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.35);
  transform: translateY(-10rem);
}

.cards:hover .card-bottom {
  transform: translateY(0);
}
.cards .card-top .contents img {
  max-width: 10rem;
}
.cards .card-top .contents h3 {
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

/******! Contact ******/
iframe {
  width: 100%;
  height: 25rem;
}

/*! bunu çıkart !*/

@media only screen and (max-width: 700px) {
  .header-img {
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6)
      ),
      url(images/home-avatar2.jpg);
    height: 85vh;
    min-height: 60rem;
    min-width: 60rem;
    width: auto; /* Mobilde header'ın genişliğini otomatik belirle */
  }
  .social-link {
    color: #fff !important;
  }
  .nvbr {
    max-width: 60rem;
    max-width: auto; /* Mobilde header'ın genişliğini otomatik belirle */
  }
  .border-end {
    border-right: none !important;
    border-bottom: solid 0.8px;
    margin-bottom: 3rem !important;
  }
  .nvbr ul {
    justify-content: center !important;
  }
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
