/******! Social icons ******/
.social-icons {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}
.social-item a {
  color: #eee;
}
.social-item {
  transition: transform 0.7s;
}
.social-item:hover {
  transform: scale(1.1);
}
/******! Header ******/
.header-img {
  height: 90vh;
  min-height: 60rem;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/home-avatar.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6)
    ),
    url(images/home-avatar.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header-content {
  position: absolute;
  margin: 18rem 8rem;
  color: #fff;
  user-select: none;
  width: min-content;
}
/* (font-size: calc ) Bu CSS özelliği, tarayıcı genişliğine bağlı olarak bir fontun boyutunu dinamik olarak ayarlamak için kullanılır.
calc fonksiyonu içindeki formül, belirli bir tarayıcı genişliği aralığında minimum ve maksimum font boyutları 
arasında lineer bir geçiş sağlar. Bu sayede, web tasarımı responsive (duyarlı) hale getirilebilir,
farklı ekran boyutlarına uygun okunabilirlik ve estetik bir deneyim elde edilebilir. */
.header-subtitle {
  width: max-content;
  font-weight: 200;
  font-size: calc(16px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}
.header-title {
  font-size: calc(20px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  opacity: 0.8;
  line-height: 0.7;
  margin-bottom: 2.5rem;
  width: max-content;
}
.header-mono {
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.5rem;
  width: max-content;
}
/******! Navbar ******/
.nvbr {
  font-size: 1.8rem;
  box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.97);
}
.nvbr ul li a {
  font-size: 2.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  text-decoration: none;
  transition: all 0.6s ease-in-out !important;
}
.nvbr ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 2rem;
  color: #f62b45 !important;
}
.nvbr img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -weblit-transform: translate(-50%, -50%);
  width: 17rem;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/*Mobile button*/
.btn-mobile-nav {
  z-index: 999;
  padding: 0 8rem 8rem 0;
  margin: 1rem 0 0 0;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  display: none;
}
.btn-mobile-nav button {
  border: none;
  font-size: 5rem !important;
}
.dropdown-menu {
  border: none;
  padding: 1rem;
  border-radius: 5%;
  background-color: #ffffff;
}
.dropdown-menu li a {
  width: max-content;
  color: #333;
  margin: 2rem;
}
.dropdown-menu li:hover {
  color: #f62b45;
}
.blur {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}
/******! About ******/
#Hakkimda ul {
  justify-items: center;
}
#Hakkimda button {
  transition: all 0.97s;
}
/******! Certificates ******/
#Sertifikalar .active {
  background-color: #f62b45 !important;
  border: none !important;
}
/******! Projects ******/
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
.left,
.right,
.cards {
  cursor: pointer;
}
.cards .card-size {
  width: 30rem;
  height: 20rem;
  transition: 0.8s;
}
.cards .card-top {
  position: relative;
  background: #f62b45;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(10rem);
}
.cards:hover .card-top {
  background: transparent;
  transform: translateY(0);
}
.cards .card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #fff;
  box-sizing: border-box;
  /* box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); */
  transform: translateY(-10rem);
}
.cards:hover .card-bottom {
  transform: translateY(0);
}
.cards .card-top .contents img {
  max-width: 10rem;
}
.cards .card-top .contents h3 {
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}
.swiper {
  width: 100% !important;
  max-width: 1280px !important;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
/******! Contact ******/
iframe {
  width: 100%;
  height: 25rem;
}
.list-group-item {
  font-size: 1.8rem !important;
  font-weight: 500 !important;
}
/******! Footer ******/
footer ul a:hover {
  color: #000 !important;
}
/******! Modal ******/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  border-radius: 1rem;
}
.gallery-item img:hover {
  transform: scale(0.98);
}
#modalEl {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 70%;
  border-radius: 1rem;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}
#modalEl .nav-link {
  font-weight: 500;
  color: #f62b45 !important;
  transition: all 0.9s;
}
/******! Dark Mode Button ******/
#modalEl .nav-link:hover {
  color: #000 !important;
}
#darkMode {
  padding: 0.5rem;
  border-radius: 0 0 50px 50px;
  background-color: rgb(108, 117, 125);
  cursor: pointer;
  transition: all 0.97s;
}
#darkMode:hover {
  background-color: rgb(246, 43, 69);
}
